:80 {
    root * /usr/share/caddy
    encode gzip zstd
    file_server
    header {
        Cache-Control "no-cache"
        -Server
        Cross-Origin-Opener-Policy "same-origin"
        Cross-Origin-Embedder-Policy "require-corp"
    }
}
